body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#paginaPrincipal {
  background: url("https://github.com/yordic1993/yordic1993.github.io/raw/main/fondo2.jpg") no-repeat center center fixed;
  background-size: contain; /* Ajustar el fondo para que se aprecie todo */
  justify-content: flex-start; /* Posicionar el contenido en la parte superior */
}

#paginaPrincipal h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 40px; /* Añadir margen superior para separar el texto del borde */
}

#paginaPrincipal button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 40px; /* Añadir margen superior para bajar el botón */
}

#paginaRuleta {
  display: none; /* Ocultar la página de la ruleta inicialmente */
  background: url("https://github.com/yordic1993/yordic1993.github.io/raw/main/fondo2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.idiomas {
  position: absolute;
  top: 20px;
  left: 20px;
}

.idiomas button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.ruleta-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.puntero {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid red;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#ruleta {
  border: 5px solid #333;
  border-radius: 50%;
  background: #add8e6; /* Cambia este color al que desees */
}

#resultado {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
